.buttonPlay {
  width: clamp(100px, 50%, 500px);
  height: 2rem;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-transform: uppercase;
<<<<<<< HEAD
  margin: 0.5rem;
=======
  margin: 0 0.5rem;
>>>>>>> development
}

.buttonPlay:before {
  content: '';
  background: linear-gradient(
    45deg,
    #eefa03,
    #aed83b,
    #ffc300,
    #ff5733,
    #faa019,
    #eefa03
  );
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 200%;
  z-index: -1;
  filter: blur(2px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonPlay:active {
  color: rgb(228, 228, 228);
}

.buttonPlay:active:after {
  background: #ee8c00;
}

.buttonPlay:hover:before {
  opacity: 1;
}

.buttonPlay:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: orange;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
