@use 'vars';

.game__button {
  height: vars.$button-height;
  border: none;
  outline: none;
  background: vars.$white-color;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: vars.$default-radius;
  text-transform: uppercase;
  flex: 1;

  // &-icon {
  // position: absolute;
  // left: 50px;
  // }

  &::before {
    content: '';
    background: linear-gradient(
      45deg,
      #eefa03,
      #fff951,
      #ffc300,
      #ca4122,
      #faa019,
      #eefa03
    );
    position: absolute;
    top: -4px;
    left: -4px;
    background-size: 200%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: vars.$default-radius;
  }
  &:active {
    color: vars.$black-color;
    &::after {
      background: vars.$lite-gray;
    }
  }
  &:hover::before {
    opacity: 1;
  }
  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: vars.$white-color;
    left: 0;
    top: 0;
    border-radius: vars.$default-radius;
  }

  &-settingsBtn {
    padding: 0 40px;
    width: 350px;
  }
  &--orange {
    color: vars.$white-color;
    z-index: 0;
    &::after {
      background: vars.$lite-orange;
    }
    &:active {
      color: vars.$white-color;
      &::after {
        background: vars.$orange;
      }
    }
  }
  &-modalBtn {
    width: 49%;
    font-size: 18px;
    height: 70px;
    margin: 0 0 0 10px;
    color: vars.$white-color;
    z-index: 0;
    &::after {
      background: vars.$lite-orange;
    }
    &:active {
      color: vars.$white-color;
      &::after {
        background: vars.$orange;
      }
    }
  }
  &-lvlSettings {
    flex-basis: 100%;
    height: 25%;
    margin: 0 10px;
    text-transform: none;
    background-color: vars.$white-color;
    font-size: 24px;
    &.active {
      background-color: #ffd3bb;
      border-width: 0.1rem;
      border-style: solid;
      border-color: vars.$lite-orange;
      &::after {
        background-color: #ffd3bb;
        border-style: 0.1rem;
      }
    }
  }
  &--hof {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
