@import '_vars';

.game__button {
  height: $button-height;
  width: clamp(100px, 49%, 49%);
  border: none;
  outline: none;
  background: $white-color;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: $default-radius;
  text-transform: uppercase;
  padding: 3px;

  &::before {
    content: '';
    background: linear-gradient(
      45deg,
      #eefa03,
      #fff951,
      #ffc300,
      #ca4122,
      #faa019,
      #eefa03
    );
    position: absolute;
    top: -4px;
    left: -4px;
    background-size: 200%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: $default-radius;
  }
  &:active {
    color: $black-color;
    &::after {
      background: $lite-gray;
    }
  }
  &:hover::before {
    opacity: 1;
  }
  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $white-color;
    left: 0;
    top: 0;
    border-radius: $default-radius;
  }

  &-settingsMain {
    width: 100%;
    padding: 0 20px;
  }
  &--orange {
    margin: 0 0 0 10px;
    color: $white-color;
    z-index: 0;
    &::after {
      background: $lite-orange;
    }
    &:active {
      color: $white-color;
      &::after {
        background: $orange;
      }
    }
  }
  &--settingsBtn {
    width: 99%;
    border: $white-color;
    padding: 0 25px;
  }
  &--lvlSettings {
  &-lvlSettings {
    width: 99%;
    height: 33.33%;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-between;
    text-transform: none;
    background-color: $white-color;
    margin: 5px 0;
    font-size: 24px;
    &.active {
      background-color: #ffd3bb;
      border-width: 0.1rem;
      border-style: solid;
      border-color: $lite-orange;
      &::after {
        background-color: #ffd3bb;
        border-style: 0.1rem;
      }
    }
  }
  &--disabled {
    width: clamp(100px, 50%, 500px);
    border: none;
    outline: none;
    background: #111111;
    pointer-events: none;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 0 0.5rem;
    opacity: 0.5;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
