@import '_vars';

.hof__table {
  width: 90%;
  margin: 0 auto 0 auto;
}

tr,
td {
  font-size: 31.5px;
}

.game__mode-rules table {
  padding: 10px;
  border-radius: 20px;
  min-width: 803px; // min width required for Albus Dumbledore Brother to display in one line
  text-align: left;
}

td:nth-child(3) {
  width: 40%;
}

td:nth-child(2) {
  width: 65%;
  min-width: 175px;
}

td:first-child {
  width: 15%;
  min-width: 80px;
}

.hof__table-header {
  font-weight: 500;
  font-size: 37.8px;
  padding-bottom: 10px;
}

.hof__table-alttxt {
  display: flex;
  font-size: 37.8px;
  margin: 0 auto 0 auto;
}
