@use 'vars';

.header__game-nav {
  width: 830px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    height: 50px;
    color: vars.$white-opacity;
    background: none;
    border: none;

    &.active {
      color: vars.$lite-gray;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 10px;
        background: vars.$lite-orange;
        border-radius: vars.$default-radius;
        position: absolute;
        bottom: -25px;
      }
    }
  }
}
