@import '_vars';

.header__game-nav {
  width: 830px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 150px;
    height: 50px;
    color: $white-opacity;
    background: none;
    border: none;

    &.active {
      color: $lite-gray;
      position: relative;

      &::before {
        content: '';
        width: 80%;
        height: 10px;
        background: $lite-orange;
        border-radius: 4px;
        position: absolute;
        bottom: -25px;
      }
    }
  }
}
