@use 'vars';

.quit-game {
  color: vars.$white-opacity;
  font-size: 35px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;

  &:hover {
    color: vars.$lite-orange;
  }

  &-text {
  }

  .fa-times-circle {
    padding: 0 0 0 20px;
    font-size: 60px;
  }
}
