.quit-game {
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 140px;
  color: gray;
  font-size: 35px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.fa-times-circle {
  position: absolute;
  top: -11px;
  cursor: pointer;
  padding-left: 20px;
  font-size: 60px;
}

.quit-game:hover {
  color: #fe9e01;
}
