.quit-game {
    position: fixed;
    top: 70px;
    right: 80px;
    // font-size: 100px;
    color: tomato;
    font-size: 35px;
    // display: flex;
    // align-self: center;
}

.fa-times-circle {
    padding-left: 20px;
    font-size: 70px;
}