$primary-font-size: 42px;
$black-color: #000;
$white-color: #fff;
$lite-gray: #f2f2f2;
$white-opacity: #ffffff61;
$lite-orange: #ff9900f2;
$orange: #df8600f2;
$wand-color: #ffd492;
$button-height: 100px;
$default-radius: 16px;
