:root {
  font-family: 'Bitter', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-wrapper {
  background-image: url('../images/QuizBackground.png');
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 4fr 1fr;

  .header {
    outline: yellow dotted 5px;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__game-logo {
      width: 30%;
      height: 50%;
      background: grey;
    }
    &__game-nav {
      width: 60%;
      height: 80%;
      background: rgb(130, 48, 0);
    }
  }
  .game-image {
    outline: black dotted 5px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 60%;
      height: 60%;
      outline: yellow dotted 5px;
    }
  }

  .game {
    outline: green dotted 5px;
    grid-column: 2/3;
    grid-row: 2/3;

    &__mode {
      outline: white dotted 5px;
      width: 100%;
      height: 30%;
    }

    &__mode-rules {
      outline: red dotted 5px;
      width: 100%;
      height: 50%;
    }

    &__btns {
      outline: rgb(0, 225, 255) dotted 5px;
      height: 20%;
      display: flex;
      justify-content: space-around;
    }

    &__btn {
      width: 40%;
      height: 100%;
    }

    &__play {
      width: 40%;
      height: 100%;
      background: green;
    }
  }

  .footer {
    outline: rgb(0, 81, 255) dotted 5px;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
